button{
    background-color: aqua;
    height: 3rem;
    width: 5rem;
    font-family: cursive;
}
.upper{
    height:15vh;
    background-color: greenyellow;
}
.middle{
    height:15vh;
    background-color: hotpink;
}